<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.human.security.dao.MemDAO">
	<!-- namespace를 인터페이스 이름과 일치 시켜야 한다. -->
	<insert id="insertMem" parameterType="MemVO">
		insert into mem 
			(userid,password,name,role)
		values
			(#{userid},#{password},#{name},#{role})
	</insert>	
	<select id="selectByidx" parameterType="int" resultType="MemVO">
		select 
			*
		from 
			mem
		where 
			idx=#{idx}
	</select>
	
	<select id="selectByUserid" parameterType="string" resultType="MemVO">
		select 
			*
		from 
			mem
		where 
			userid=#{userid}
	</select>
	
	<select id="selectMaxIdx" resultType="int">
		select max(idx) from mem
	</select>
</mapper>