<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<style type="text/css">
		.info{
			width: 98%; padding: 10px; margin: auto; border: 1px solid gray;
			margin-bottom: 10px; font-size: 11pt; text-align: center; font-weight: bold;
		}
		.content{
			width: 98%; padding: 2px; margin: auto; border: 0px solid gray;
			margin-bottom: 2px; font-size: 11pt;
		}
	</style>
</head>
<body>
	[<a href="/">홈으로</a>] 
	[<a href="/saveAll">여러개 1번에 저장하기</a>] 
	[<a href="/deleteAll">모두지우기</a>] 
	[<a href="/deleteAll2">여러개 1번에 지우기</a>] 
	[<a href="/existById">?번이 있을까?</a>] 
	[<a href="/findAllByIds">몇개 무작위로 가져오기</a>]
	<hr />
	<form action="insert" method="post">
		<input type="text" name="name" id="name" required="required" placeholder="이름"/>
		<input type="number" name="age" id="age" required="required" placeholder="나이" value="20"/>
		<input type="submit" id="submitBtn" value="저장"/>
	</form>
	<hr />
	<th:block th:if="${#lists.isEmpty(list)}">
		<div class="info">등록된 글이 없습니다.</div>
	</th:block>
	<th:block th:if="${!#lists.isEmpty(list)}">
		<!-- 
		<div th:text="${'전체 : ' + #lists.size(list)+'개'}" class="content" style="text-align: right;"></div>
		 -->
		 <div  style="text-align: right;">
		 	<button th:onclick="location.href='list?sort=asc'">순차</button>
		 	<button th:onclick="location.href='list?sort=desc'">역순</button>
			<span th:text="${'전체 : ' + totalCount + '개'}" class="content"></span>
		 </div>
		<hr />
		<!-- th:with="totalCount=${#lists.size(list)} : 변수설정 totalCount = 리스트 개수 -->
		<!-- th:each="vo, status: ${list}"  : 반복 설정, vo는 값, status는 반복 index, count..  -->
		<th:block th:each="vo, status: ${list}"  th:with="totalCount=${#lists.size(list)}">
			<div  class="content">
				<span th:text='${(totalCount-status.index) + "(" + vo.idx + "). " + vo.name + "(" + vo.age +"세,"}'></span>
				<span th:text='${vo.gender ? "남" : "여"}'></span>
				<span th:text='${", " + #dates.format(vo.regDate, "yyyy-MM-dd[E] HH:mm:ss") + ")"}'></span>
				<button th:onclick="location.href='deleteByIdx?idx=[[${vo.idx}]]'">번호로 지우기</button>
				<button th:onclick="location.href='deleteByObject?idx=[[${vo.idx}]]'">객체로 지우기</button>
			</div>
		</th:block>
		<hr />
	</th:block>	
</body>
</html>